.clients {
    margin-bottom: 35px;
}
.clients .text {
    font-family: Gilroy-Light, Arial, sans-serif;
    -webkit-box-align: start;
    -webkit-box-pack: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.clients .font-bold {
    font-family: Gilroy-ExtraBold, Arial, sans-serif;
}

.clients .carousel-clients {
    height: 300px;
}
.clients .carousel-clients .card {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: .5rem !important;
    border-color: transparent;
}
.clients .carousel-clients .card-body {
    padding: 0;
    flex: 1 1 auto;
    min-height: 1px;
}
.carousel-clients .card-body .card-img {
    padding: 13px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 4px 15px 0 rgba(0, 0, 0, .09);
    box-shadow: 6px 4px 15px 0 rgba(0, 0, 0, .09);
}
.carousel-clients .card-img .logo-wrap {
    width: 100%;
    height: 94px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 10px 10px;
}