@import "/src/styles/fonts.css";
@import "/src/styles/animations.css";
@import "/src/styles/banner.css";
@import "/src/styles/adventages.css";
@import "/src/styles/clients.css";
@import "/src/styles/about.css";
@import "/src/styles/training.css";
@import "/src/styles/owner.css";
@import "/src/styles/concrete.css";
@import "/src/styles/polymer.css";

body {
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    line-height: 1;
    min-width: 320px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1230px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.section-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 770px;
    background: url(../assets/bg1.webp);
    z-index: -1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.btn-green {
    background: #65c473;
    background: -webkit-gradient(linear, right top, left top, from(#65c473), color-stop(150%, #389658));
    background: linear-gradient(-90deg, #65c473 0, #389658 150%);
    -webkit-box-shadow: 0 5px 0 0 #307d47;
    box-shadow: 0 5px 0 0 #307d47;
    border-radius: 4px;
    font-family: Gilroy-Light, Arial, sans-serif;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px 10px 10px 45px;
}
.logo-link {
    display: inline-block;
    width: 90px;
}
.header {
    font-size: 12px;
    line-height: 17px;
    font-family: Gilroy-Light, Arial, sans-serif;
}
.cup {
    width: 270px;
    padding-left: 75px;
}
.cup:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 40px;
    width: 64px;
    height: 66px;
    background-color: transparent;
    background-image: url(../assets/cup.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.button-ic {
    position: relative;
}
.button-ic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    width: 41px;
    height: 54px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    background-color: transparent;
    background-image: url(../assets/ic-trend.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-blik {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-blik::after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, .7)), to(rgba(229, 172, 142, 0)));
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, .7) 50%, rgba(229, 172, 142, 0));
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
    opacity: 0;
    -webkit-animation: sheens 3s infinite;
    animation: sheens 3s infinite;
    z-index: 1;
}
nav .container a {
    display: list-item;
    margin-right: 5px;
}
/*clients styles*/
.types-floor {
    padding: 60px 30px 0 30px;
    background-color: #f6f7f8;
}
.types-floor .title {
    margin-left: 10px;
    color: #222;
    font-family: Gilroy-ExtraBold, Arial, sans-serif;
    font-size: 30px;
    line-height: 1;
}
.types-floor .fl-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    border-radius: 5px;
    margin-top: 55px;
    margin-right: 55px;
    padding: 0 20px;
}
.types-floor .nav-pills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    list-style: none;
    font-family: Gilroy-ExtraBold, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}
.types-floor .nav-link.active {
    color: #fff;
    background-color: #017bdc;
    -webkit-box-shadow: 0 10px 27px 0 rgba(0, 0, 0, .25) !important;
    box-shadow: 0 10px 27px 0 rgba(0, 0, 0, .25) !important;
    border-radius: 5px;
}

.types-floor .nav-link {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    width: 250px;
    background-color: #f6f7f8;
    border-style: none;
    border-radius: 5px;
    color: #000;
    font-family: Gilroy-ExtraBold, Arial, sans-serif !important;
    font-size: 18px !important;
    text-transform: none !important;
    font-weight: 400 !important;
    margin-right: 15px;
    padding: 5px 20px 5px 19px;
}
.types-floor .nav-item a {
    text-decoration: none;
}
.types-floor .tap-pane {
    display: none;
}
.types-floor .tap-pane.active {
    display: block;
}
.types-floor .fade {
    transition: opacity .15s linear;
}
.types-floor .fl-content {
    padding: 25px 45px;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.types-floor .fl-col {
    width: 43%;
    margin-right: 55px;
}
.types-floor fl-col-img {
    margin-top: 30px;
    margin-bottom: 35px;
    width: 470px;
    height: 350px;
    border-radius: 5px;
    vertical-align: middle;
    border-style: none;
}
.types-floor .fl-objects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    margin-left: 5px;
    margin-top: 25px;
}
.types-floor .fl-objects .fl-title {
    margin-left: 20px;
    margin-bottom: 10px;

}
.types-floor .fl-title {
    font-family: Roboto-Bold, Arial, sans-serif;
    font-size: 20px;
    color: #017bdc;
    text-align: left;
    line-height: 1.2;
    font-weight: 500;
}
.types-floor .fl-list {
    margin: 0 0 30px 0;
    line-height: 1.43;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
}
.types-floor .fl-list-item {
    padding-left: 25px;
    margin-bottom: 12px;
    list-style: none;
}
.types-floor .fl-list-item::before {
    content: '';
    width: 13px;
    height: 13px;
    background-image: url(../assets/ic-okey.svg);
    background-size: 8px 8px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #0cbe44;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}