---
import BaseLayout from '../layouts/BaseLayouts.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Adventages from '../components/Adventages.astro';
import Clients from '../components/Clients.astro';
import About from '../components/About.astro';
import Training from '../components/Training.astro';
import Owner from '../components/Owner.astro';
import Concrete from '../components/Concrete.astro';
import Polimer from '../components/Polimer.astro';
import TypesFloor from '../components/TypesFloor.astro';
---
<BaseLayout>
	<Header />

	<div class="section-bg"></div>
	<Banner />
	<Adventages />
	<Clients />
	<About />
	<Training />
	<Owner />
	<Concrete />
	<Polimer />
	<TypesFloor />
	
</BaseLayout>
