---
import BaseLayout from '../layouts/BaseLayouts.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Adventages from '../components/Adventages.astro';
import Clients from '../components/Clients.astro';
---
<BaseLayout>
	<Header />
	<main>
		<div class="section-bg"></div>
		<Banner />
		<Adventages />
		<Clients />
	</main>
</BaseLayout>
