---
// src/components/About.astro
---

<div class="container mx-auto px-7 about">
    <div class="flex flex-row justify-center items-center relative block">
        <div class="absolute text-3xl rounded-md bg-white caption">
            <p>
                ОсОО <span class="text-blue-500">«Asia Water Build» (Азия Вотер Билд)</span> 
                - компания, занимающаяся строительно-монтажными и проектными работами.
            </p>
        </div>
        <div class="rounded-md text">
            <p>
                Основной вид деятельности компании: <br>
                Проектирование, строительство, пуско-наладка, шефмонтаж и эксплуатация котельных всех типов:
                Наша компания выполнит подбор котельных в соответствии с заданными целями Заказчика: <br>
                <span class="text-blue-500">1 -</span>
                по виду используемого топлива; <br>
                <span class="text-blue-500">2 -</span>
                по виду энергоносителей; <br>
                <span class="text-blue-500">3 -</span>
                по типу строения; <br>
                <span class="text-blue-500">4 -</span>
                по виду автоматизации.
            </p>
        </div>
    </div>
</div>