---
// src/components/Training.astro
import localImage from '../assets/training-img.webp';
---

<div class="container mx-auto training">
    <div class="flex flex-row flex-wrap relative tr-top">
        <h2 class="tr-title">
            Предлагаем проектирование и строительство 
            <span class="text-blue-500">стационарных, модульных и крышных котельных</span>
            всех видов
        </h2>
        <p class="tr-text">
            Изготовим для промышленных предприятий и социально-бытовых объектов, для снабжения 
            потребителей теплом, паром и горячей водой, в максимальной заводской готовности. 
            Учитываем индивидуальные требования Заказчика и специфику технологических процессов. 
            Доставляем в регионы по Кыргызстану
        </p>
        <div class="tr-img absolute">
            <img src={localImage.src} alt="Обучение">
        </div>
    </div>
    <div class="flex flex-wrap justify-between step-wrap">
        <div class="flex flex-col justify-start items-center relative text-center w-1/3 step-item">
            <div class="relative text-blue-500 mb-1 5 inline-block step-num animation-jump">
                01
            </div>
            <p class="step-text">
                <b>Строгое</b>
                соблюдение сроков <br>
                строительства
            </p>
        </div>
        <div class="flex flex-col justify-start items-center relative text-center w-1/3 step-item">
            <div class="relative text-blue-500 mb-1 5 inline-block step-num animation-jump">
                02
            </div>
            <p class="step-text">
                <b>Гарантия качества</b> <br>
                весь товар сертифицирован
            </p>
        </div>
        <div class="flex flex-col justify-start items-center relative text-center w-1/3 step-item">
            <div class="relative text-blue-500 mb-1 5 inline-block step-num animation-jump">
                03
            </div>
            <p class="step-text">
                Инженеры
                <b> с опытом</b> <br>
                более 10 лет
            </p>
        </div>
    </div>
</div>