---
// src/components/TypesFloor.astro
import TabPanel from './reactComponents/TabPanel';
import prjKotlImg from '../assets/project-kotl.webp';
import gazKotlImg from '../assets/gaz-kotl.webp';
import uglKotlImg from '../assets/ugl-kotl.webp';
import promKotlImg from '../assets/prom-kotl.webp';

const tabs = [
    {
        id: 1,
        link: 'Котельные установки по виду используемого топлива',
        img: promKotlImg,
        title: 'Котельные установки по виду используемого топлива:',
        list: ['Котельные на твердом топливе (угольные);', 'Котельные на жидком топливе (дизель, мазут);', 'Газовые котельные;'],
    },
    {
        id: 2,
        link: 'Котельные установки по виду используемого топлива',
        img: prjKotlImg,
        title: 'Котельные установки по видам энергоносителей',
        list: [
            'Паровые котельные. В таких установках энергоноситель — это горячий пар. Такие котельные применяются в промышленной деятельности для обеспечения процессов производства.',
            'Водогрейные котельные. Такие установки служат для поставки горячей воды жилых, коммунальных и промышленных зданий. Вода в них греется до +115С.',
            'Длительный срок службы – более 15 лет.',
            'Комбинированные котельные. Здесь задействовано сочетание парового и водогрейного котельного оборудования для покрытия тех. запросов предприятия.'
        ],
    },
    {
        id: 3,
        link: 'Котельные установки по виду используемого топлива',
        img: gazKotlImg,
        title: 'Котельные установки по типам их размещения',
        list: [
            'Котельные установки по типам их размещения',
            'Блочно-модульные котельные - они предоставляют быструю установку, заводские мобильные модули (каждый может работать отдельно).',
            'Крышные котельные для отдельно стоящих зданий, сооружений, жилых комплексов и микрорайонов'
        ],
    },
    {
        id: 4,
        link: 'Котельные установки по виду используемого топлива',
        img: uglKotlImg,
        title: 'Котельные установки по видам автоматизации процессов',
        list: [
            'Ручные котельные. Здесь подача топлива и удаление шлаков производится исключительно вручную.',
            'Механизированные котельные. В этом виде подача топлива и сбор загрязнений происходит в автоматическом режим, минимизируя присутствие человека.'
        ],
    }
]
---

<div class="container mx-auto types-floor">
    <div class="flex flex-wrap">
        <div class="w-full">
            <h2 class="title">
                Выполним подбор и поставку всего технологического оборудования <br>
                <span class="text-sm text-green-500">
                    (котлы, водоподготовка, теплообменники, насосы и остальное вспомогательное оборудование)
                </span>
                <br>
                <span class="text-blue-500"> в кратчайшие сроки и за приемлемые цены.</span>
            </h2>
        </div>
    </div>
    <TabPanel client:load tabs={tabs} />
</div>